<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="wrapper">
        <header th:insert="blocks/header :: header"/>
        <div class="container mt-5 mb-5">
            <h1>Редагувати авто</h1>
            <div th:each="el : ${car}">
                <form method="post">
                    <input type="text" th:value="${el.carBrand}" name="carBrand" placeholder="Марка авто" class="form-control mb-2"/>
                    <input type="text" th:value="${el.carModel}" name="carModel" placeholder="Модель авто" class="form-control mb-2"/>
                    <input type="number" th:value="${el.carYear}" name="carYear" placeholder="Рік випуску" class="form-control mb-2"/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <textarea type="text" name="carDesc" placeholder="опис Авто" class="form-control mb-2" th:text="${el.carDesc}"/>
                    <button type="submit" class="btm btn-success">Оновити дані по авто</button>
                </form>
            </div>
        </div>
        <div th:insert="blocks/footer :: footer"/>
    </div>
</body>
</html>