<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Auto Garage</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto mr-2" style="margin-right: 20px;">

            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Головна</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/garage">Гараж</a>
            <p class="me-3 py-2 text-dark text-decoration-none" th:text="${user == null ? 'Увійти ->' : user.username}"/>
            <form th:action="${user == null ? '/login' : '/logout'}" method="post">
                <input class="py-2 text-white text-decoration-none btn btn-dark" type="submit"  th:value="${user == null ? 'Увійти' : 'Вийти'}"/>
            </form>
        </nav>
    </div>
</div>